
ul,li{
  list-style: none;
  box-sizing: border-box;
  padding: 0;
}
a{
  text-decoration: none;
  color: #000;
}
.body{
  width: 960px;
  margin: 0 auto;
}
.search-input{
  height: 30px;
  width: 20em;
  font-size: 16px;
  margin: 20px 0;
}
.search-btn{
  border: none;
  color: #fff;
  background: #007fff;
  border-radius: 3px;
  font-size: 20px;
}
.onload{
  disabled: true;
}
.lists{
  margin-bottom: 20px;
}
.item-titie{
  padding: 0;
}
.item{
  text-align: center;
  padding: 10px;
  background: #f1f1f1;
  border-radius: 3px;
  box-shadow: 6px 4px 20px 0px rgba(0,0,0,0.27);
  margin-bottom: 20px;
}
.item>p{
  text-align: left;
}

.load-more{
  color: #fff;
  background: #007fff;
  border-radius: 3px;
  padding: 5px 8px;
}